.main_wrapper {
  height: calc(100% - 65px);
  display: block;
  position: relative;

  &-bg-blue-stripe {
    background-color: #2b9be1;
    height: 40%;
    width: 100%;
  }

  &_router {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}