<h1 mat-dialog-title>Message</h1>
<div mat-dialog-content 
class="w-100">
  <p>Change your message</p>
  <mat-form-field class="w-100">
    <textarea
      matInput
      [(ngModel)]="message.text">
    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="message"
    cdkFocusInitial>
    Save
  </button>
  <button
    mat-flat-button
    color="warn"
    (click)="onNoClick()">
    Delete
  </button>
  <button
    mat-flat-button
    (click)="onNoClick()">
    Close
  </button>
</div>
