<div class="d-flex flex-wrap align-items-center justify-content-center h-100">
  <div class="chat__wrapper">
    <header class="chat__wrapper_header">
      <div class="d-flex align-items-center">
        <span class="chat__wrapper_header-name">{{ authorizedUser.name }}</span>
        <span class="chat__wrapper_header-status">{{ 'online' | uppercase}}</span>
      </div>
      <div class="chat__wrapper_header-buttons">
        <button
          (click)="openPhoneSnackBar()"
          mat-button
          color="primary">
          <i class="material-icons">phone</i>
          Call
        </button>
        <button
          (click)="openShareSnackBar()"
          mat-button
          color="primary">
          <i class="material-icons">share</i>
          Share
        </button>
      </div>
      <div class="chat__wrapper_header-green-icon">
        <i class="material-icons">chat</i>
      </div>
    </header>
    <div
      class="chat__wrapper_body"
      #chatBodyRef>
      <div
        *ngFor="let day of chat | async"
        class="mt-2">
        <div class="chat__wrapper_body-date">{{ day.date | date:'d MMMM y' }}</div>
        <div
          *ngFor="let message of day.values; trackBy: trackByMessages"
          class="chat__wrapper_body_message">
          <img
            class="chat__wrapper_body_message-user-image"
            [src]="message.user?.profileImageUrl">
          <div class="chat__wrapper_body_message_content">
            <div class="chat__wrapper_body_message_content_title">
              <span class="chat__wrapper_body_message_content_title-name">
              {{ message.user?.name }}
            </span>
              <span class="chat__wrapper_body_message_content_title-time">
              {{ message.dateTime | date:"h:mma" }}
            </span>
            </div>
            <div class="chat__wrapper_body_message_content-text">{{ message.text }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat__wrapper_footer">
      <div class="mb-2">
        <span
          class="chat__wrapper_footer-typing"
          [hidden]="!isCurrentUserTyping">{{ authorizedUser.name }} typing...</span>
      </div>
      <div class="chat__wrapper_footer-input mr-1">
        <textarea
          [formControl]="chatInput"
          (keyup.enter)="sendMessage()"
          #chatInputRef
          class="h-100 w-100"
          placeholder="Start typing your message">
        </textarea>
      </div>
      <div>
        <button
          class="chat__wrapper_footer-btn-send"
          mat-raised-button
          (click)="sendMessage()"
          [disabled]="!chatInput.valid"
          color="primary">
          SEND
        </button>
      </div>
    </div>
  </div>
</div>
